.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: var(--background-color-creme);
}
.demo-card-event > .mdl-card__actions {
  border-color: var(--background-color-creme);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: var(--third-color);
}



:root {
    --primary-color: #333;
    --secondary-color: #666;
    --third-color: #ff1159;
    --background-color-light-grey: #f7f7f7a7;
    --background-color: #f7f7f7;
    --background-color-creme: #fafafa;
    --border-color-grey: rgba(255, 255, 255, 0.2);
    --border-radius-4px: 4px ;
    --border-radius-8px: 8px ;
    --margin-bottom-16px: 16px ;
    --padding-all-20px: 20px ;
  }

body {
    padding: --padding-all-20px;
    background: var(--background-color-creme);
    position: relative;
    padding-bottom: 100px;
}
  
form {
    padding: --padding-all-20px;
    position: relative;
    border-radius: var(--border-radius-8px);
}

.container {
    background-color: var(--background-color-light-grey) ;
    max-width: 800px; /* adjust the max width to your liking */
    margin: 40px auto; /* add margin top and bottom, and center the container */
    padding: 22px 22px; /* add more padding to the container */
    border: 1px solid var(--background-color-creme); /* add a border to the container */
    border-radius: 10px; /* add a rounded corner to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow to the container */

    background-image: linear-gradient(to bottom, #f9f9f9, #fff); /* add a subtle gradient background */

    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr ; /* create a two-column grid */
    grid-gap: 10px; /* add a gap between the columns */


    background-color: var(--background-color-light-grey);

  }

/* set the minimum width to 400px for screens with a width of 768px or larger */
@media (min-width: 768px) {
    .container {
       min-width: 400px;
     }
}

/* set the minimum width to 300px for screens with a width of 480px or larger */
@media (min-width: 480px) {
    .container {
       min-width: 300px;
     }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }


.demo-list-action {
    width: 300px;
}



h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: --margin-bottom-16px;
    color: var(--third-color);
  }
  
  h2 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: --margin-bottom-16px;
    color: var(--third-color);
  }
  
  h4 {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: --margin-bottom-16px;
    color: var(--third-color);
  }

.mdl-card {
    padding: 8px;
    width: 100% !important;
    display: flex;
    border-radius: var(--border-radius-4px);

}
/* set the minimum width to 400px for screens with a width of 768px or larger */
@media (min-width: 768px) {
    .mdl-card {
       min-width: 440px;
     }
}

/* set the minimum width to 300px for screens with a width of 480px or larger */
@media (min-width: 480px) {
    .mdl-card {
       min-width: 340px;
     }
}

.button-card {
    display: flex;
    width: 300px;
    padding: 8px;
    background: var(--background-color-creme);
    border-radius: var(--border-radius-4px);
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    
}

.date-card {
    display: flex;
    width: 300px;
    height: 222px;
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 8px;
    background: var(--background-color-creme);
    border-radius: var(--border-radius-4px);
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    
}


.mdl-textfield {
    color: var(--third-color);
    height: 300px;
}


.mdl-button {
    color: var(--third-color);
    min-block-size: 44px;
    min-width: min-content;
    min-height: min-content;
    padding-block: 2px;
    font-size: max(22px , 1.1lvw);
}

.mdl-button:hover {
    background-color: var(--third-color);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 4);
    transform: translateY(-3px);
  }

.mdl-dropdown .mdl-textfield__input option {
    padding: 8px;
    width: 100% !important;
    background-color: none;
    color: var(--third-color);
    padding: 2px; /* add 10px of padding */
    
    
    position: relative;
    font-size: --margin-bottom-16px;
    display: inline-block;
    display: block;
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    margin: 0;
    padding: --padding-all-20px 0;
    
}

.row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: var(--background-color-light-grey);
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: var(--background-color-light-grey);
}
